@using TwitterClone.Models
@model List<TwitterClone.Models.Tweet>

@using (Ajax.BeginForm("UpdateTweets", new AjaxOptions()))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>Tweets</h4>
    foreach(Tweet tweet in @Model)
    {
        <div class="row" id="tweets">
            <div class="form-group">
                <span class="col-md-4">@tweet.User</span>
                <span class="col-md-4">@tweet.Message</span>
                <span class="col-md-4">@tweet.Created</span>
            </div>
        </div>
    }
}

            